---
layout: layout.liquid
title: Sam Barnett | about
---
<main class="mainContent">
    <section class="section biography">
        <p>Hey, I’m <span class="biography__name">Sam Barnett</span>. I’m a Vancouver based designer, photographer and filmmaker. I put myself into creative projects that are at the intersection of mediums. I’m currently a teaching assistant in the design film course at Simon Fraser University.</p>
    </section>
    <section class="section contact">
        <h2 class="contact__heading">Want to get in touch?</h2>
        <span class="contact__social">instagram <a href="https://www.instagram.com/cablegoat">@cablegoat</a></span>
        <span class="contact__email">shoot me an <a href="mailto:example@example.com">email</a></span>
    </section>
</main>
