---
layout: layout.liquid
title: Sam Barnett Portfolio
---
<main class="mainContent">
    <section class="section biography">
        <p>Hey, I’m <span class="biography__name">Sam Barnett</span>. I’m a Vancouver based designer, photographer and filmmaker. I put myself into creative projects that are at the intersection of mediums. I’m currently a teaching assistant in the design film course at Simon Fraser University.</p>
    </section>
</main>
