---
layout: layout.liquid
title: Sam Barnett | styleguide
---

<main class="mainContent">
    <section class="column styleGuide">
        <h1>Style Guide</h1>
        <section>
            <h2 class="styleGuide__sectionTitle">Typography</h2>
            <div class="styleGuide__element">
                <h3>Heading Hierarchy</h3>
                <div class="styleGuide__example">
                    <div><h1>h1</h1></div>
                    <div><h2>h2</h2></div>
                    <div><h3>h3</h3></div>
                    <div><h4>h4</h4></div>
                    <div><h5>h5</h5></div>
                </div>
                <pre class="styleGuide__code">
                    <code class="language-html">
                        <script type="prism-html-markup">
                        <h1>...</h1>
                        <h2>...</h2>
                        <h3>...</h3>
                        <h4>...</h4>
                        <h5>...</h5>
                        </script>
                    </code>
                </pre>
            </div>
            <div class="styleGuide__element">
                <h3>Body Copy</h3>
                <div class="styleGuide__example">
                    <p>But patriarchialist destructuralism suggests that discourse must come from
                        the masses, given that Debord’s model of subdialectic situationism is invalid.
                        The subject is contextualised into a Baudrillardist hyperreality that includes
                        art as a totality.</p>

                    <p>Therefore, Debord promotes the use of Foucaultist power relations to read
                        sexual identity. In Satanic Verses, Rushdie denies subdialectic
                        situationism; in The Ground Beneath Her Feet, however, he affirms
                        patriarchialist destructuralism.</p>
                </div>
                <pre>
                    <code class="language-html">
                        <script type="prism-html-markup">
                        <p>...</p>
                        </script>
                    </code>
                </pre>
            </div>
        </section>
    </section>
</main>