

.headline {

  position: relative;

  &__name {
    @include rms(4);
    font-family: forma-djr-display, sans-serif;
      font-weight: 500;
      font-style: normal;
  }
  &__title {
    padding-left: ms(-2);
    @include rms(4);
    font-family: p22-mackinac-pro,serif;
      font-weight: 400;
      font-style: italic;
  }


  &__image {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    mix-blend-mode: difference;

    &--hover {
      opacity: 1;
    }
  }


}