

.headline {


  &__name {
    @include rms(4);
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-style: normal;

    transition: color .5s ease-out;

    &:hover {
      color: transparentize($black, .3);

    }
  }

  &__title {
    padding-left: ms(-2);
    @include rms(4);
    font-family: p22-mackinac-pro,serif;
    font-weight: 400;
    font-style: italic;

  }


  &__image{
    width: auto;
    height: 1000px;
  }
}