// some normalization (taken from 352 project)
html,
body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
fieldset,
label,
legend,
textarea,
caption {
  vertical-align: baseline;
  font-feature-settings: "liga";

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body {
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}


a {
  color: $black;
}
a:visited {
  color: currentColor;
}