// some normalization (taken from 352 project)
html,
body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
fieldset,
label,
legend,
textarea,
caption {
  vertical-align: baseline;
  font-feature-settings: "liga";

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


h1 {
  @include rms(3);
}
h2 {
  @include rms(2);
}
h3 {
  @include rms(1);
}
h4, h5 {
  @include rms(0);
  line-height: 1.4;
  margin: 0;
}

body {
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 0 1.4rem 0;
}


a {
  color: $black;
  transition: color .5s ease-out;

  &:visited {
    color: currentColor;
  }
  &:hover {
    color: transparentize($black, .3)
  }
}