@charset "UTF-8";
/*
  Take a pixel value and convert it to an em value, using a base font size for reference.

  @param  (number) $px: pixel value to convert.
  @param  (number) $base: base font size to use in calculation.
  @return (number) calculated em value
*/
/*
  Strip the units off a number.

  @param  (number) $number: number with unit to convert.
  @return (number) Input number without units.
*/
/*
  Sets user-defined values for the modular scale, which replace the default values defined above. The function accepts any number of arguments which should take the form:

  $base, $interval1, $interval2, ...

  @param  (number or list) $base: one or more pixel values to use as the base of the modular scale. These don't change between breakpoints.
  @param  (list) $interval: A list containing a pixel value (representing a min-width breakpoint) followed by an interval (an integer or one of modular-scale's predefined ratios).
*/
/*
  Outputs the values of each scale to the console using modular-scale's modular-scale-list() mixin. The range of values to be returned can be specified; otherwise, 20 values starting from the base value will be returned.

  @param  (number) $start: index on the scale to start at (0 is the base value).
  @param  (number) $end: index on the scale to end at.
*/
/*
  Use pixel values for breakpoints and font sizes.

  @param  (boolean) $true: if true, the system will use pixels; otherwise, ems.
*/
/*
  Change the base font size from the default of 16px, for use by the to-em() function.

  @param  (number) $number: pixel value to change to.
*/
/*
  Iterates through the list of breakpoints and intervals, outputting multiple font-size declarations for each breakpoint.

  @param  (number) $n: position on the modular scale to use.
*/
.mainContent {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 1em;
}

.section {
  margin-top: 2.827145944em;
}

html,
body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
fieldset,
label,
legend,
textarea,
caption {
  vertical-align: baseline;
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

a {
  color: #222222;
}

a:visited {
  color: currentColor;
}

.navigation {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.headline__name {
  font-size: 2.0736em;
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media screen and (min-width: 26.875em) {
  .headline__name {
    font-size: 3.9975843648em;
  }
}
.headline__title {
  padding-left: 0.5001510456em;
  font-size: 2.0736em;
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: italic;
}
@media screen and (min-width: 26.875em) {
  .headline__title {
    font-size: 3.9975843648em;
  }
}

.project {
  margin: 1em 0;
  padding: 0.3537136108em 0;
  height: 3.9975843648em;
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
  overflow: hidden;
  position: relative;
  transition: height 0.5s ease-out, background-color 0.5s ease-out, padding 0.5s ease-out;
  background-color: rgba(22, 22, 22, 0);
}
.project:hover {
  background-color: #161616;
  color: #fff;
  height: 5.6525842918em;
  padding: 0.3537136108em;
}
.project__list {
  margin-top: 2.827145944em;
}
.project__category {
  z-index: 2;
  font-size: 0.8333333333em;
  font-family: forma-djr-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 26.875em) {
  .project__category {
    font-size: 0.7072135785em;
  }
}
.project__category:not(:first-child):before {
  content: "/";
  margin-right: 0.5001510456em;
  margin-left: 0.5001510456em;
}
.project__title {
  z-index: 2;
  font-size: 1em;
  font-family: p22-mackinac-pro, serif;
  font-weight: 500;
  font-style: italic;
}
@media screen and (min-width: 26.875em) {
  .project__title {
    font-size: 1em;
  }
}

.writeup {
  margin-left: 1em;
  width: 40%;
}
.writeup p {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.imageBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imageBlock a {
  flex-basis: calc(50% - .5em);
  padding-top: 1em;
}
.imageBlock img {
  width: 100%;
  border: 1px solid #222222;
}

.footer {
  padding: 1em;
}
.footer span {
  font-size: 0.8333333333em;
  color: rgba(34, 34, 34, 0.7);
}
@media screen and (min-width: 26.875em) {
  .footer span {
    font-size: 0.7072135785em;
  }
}

.biography {
  padding: 1em;
}
.biography p {
  font-size: 2.0736em;
  line-height: 1.2;
  font-family: forma-djr-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media screen and (min-width: 26.875em) {
  .biography p {
    font-size: 3.9975843648em;
  }
}
.biography__name {
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: italic;
}

/*!
	By André Rinas, www.andrerinas.de
	Documentation, www.simplelightbox.de
	Available for use under the MIT License
	Version 2.7.0
*/
body.hidden-scroll {
  overflow: hidden;
}

.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.7;
  display: none;
  z-index: 1035;
}

.sl-wrapper {
  z-index: 1040;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.sl-wrapper * {
  box-sizing: border-box;
}

.sl-wrapper button {
  border: 0 none;
  background: transparent;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}

.sl-wrapper button:hover {
  opacity: 0.7;
}

.sl-wrapper .sl-close {
  display: none;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 10060;
  margin-top: -14px;
  margin-right: -14px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-family: Arial, Baskerville, monospace;
  color: #000;
  font-size: 3rem;
}

.sl-wrapper .sl-counter {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1060;
  color: #000;
  font-size: 1rem;
}

.sl-wrapper .sl-navigation {
  width: 100%;
  display: none;
}

.sl-wrapper .sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -22px;
  height: 44px;
  width: 22px;
  line-height: 44px;
  text-align: center;
  display: block;
  z-index: 10060;
  font-family: Arial, Baskerville, monospace;
  color: #000;
}

.sl-wrapper .sl-navigation button.sl-next {
  right: 5px;
  font-size: 2rem;
}

.sl-wrapper .sl-navigation button.sl-prev {
  left: 5px;
  font-size: 2rem;
}

@media (min-width: 35.5em) {
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }

  .sl-wrapper .sl-navigation button.sl-next {
    right: 10px;
    font-size: 3rem;
  }

  .sl-wrapper .sl-navigation button.sl-prev {
    left: 10px;
    font-size: 3rem;
  }
}
@media (min-width: 50em) {
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }

  .sl-wrapper .sl-navigation button.sl-next {
    right: 20px;
    font-size: 3rem;
  }

  .sl-wrapper .sl-navigation button.sl-prev {
    left: 20px;
    font-size: 3rem;
  }
}
.sl-wrapper.sl-dir-rtl .sl-navigation {
  direction: ltr;
}

.sl-wrapper .sl-image {
  position: fixed;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
}

.sl-wrapper .sl-image img {
  margin: 0;
  padding: 0;
  display: block;
  border: 0 none;
  width: 100%;
  height: auto;
}

@media (min-width: 35.5em) {
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
.sl-wrapper .sl-image iframe {
  background: #000;
  border: 0 none;
}

@media (min-width: 35.5em) {
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
.sl-wrapper .sl-image .sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sl-wrapper .sl-image .sl-caption.pos-top {
  bottom: auto;
  top: 0;
}

.sl-wrapper .sl-image .sl-caption.pos-outside {
  bottom: auto;
}

.sl-wrapper .sl-image .sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #000;
  z-index: 1060;
}

.sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1007;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  -ms-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.sl-transition {
  transition: -moz-transform ease 200ms;
  transition: -ms-transform ease 200ms;
  transition: -o-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-ms-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
