<footer class="footer">
    <span class="footer__elem">© Sam Barnett 2020</span>
    <a class="footer__elem" href="https://github.com/highpanda/portfolio-2020">Github</a>
    <a class="footer__elem" href="{{ "/styleguide/" | url}}">Style Guide</a>
</footer>