<nav class="navigation">
    {% if page.url != "/" %}
        <div class="home"><a href="/">Sam Barnett</a></div>
        <div class="about"><a href="{{ "/about/" | url}}">About</a></div>
    {% elsif page.url == "/about/" %}
            <div class="home"><a href="/">Sam Barnett</a></div>
        {% else %}
        <div class="about"><a href="{{ "/about/" | url}}">About</a></div>
    {% endif %}

</nav>